<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCR_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C74FE9092050D84800BFCF0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C74FE9212050D84800BFCF0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C74FE92C2050D84800BFCF0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
